[submodule "ModernGekko"]
	path = ModernGekko
	url = https://github.com/bigmah/ModernGekko.git
	branch = dolbundler
[submodule "DolBundler/vendor/gc_controller"]
	path = DolBundler/vendor/gc_controller
	url = https://github.com/bigmah/nso_gc_macos.git
	branch = main
